@import './main.css';
@import './index.css';

.rightbar_content{
    width: 300px;
    display:inline-flex;
    margin-bottom: 10px;
    margin-right: 10px;
    padding:20px;
    height: 450px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

.rightbar_content img{
    width: 150px;
    height:200px;
}

.btn_post{
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    color:white;
    background:#664229;
    cursor: pointer;
    padding: 10px


}
.btn_cart{
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    color:white;
    background:#664229;
    cursor: pointer;
    padding: 10px
}
