{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/basket.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    <div class="basket-content">
        <div class="basket-title">
            <h2>Корзина</h2>
            <input class="delete-all" id="delete-all-items" type="button" value="Очистить">
        </div>
        <div class="basket-items-container">
            <div class="basket-items-title">
                <div><h3>Фото</h3></div>
                <div><h3>Название</h3></div>
                <div><h3>Цена</h3></div>
                <div><h3>Количество</h3></div>
                <div><h3>Сумма</h3></div>
                <div><h3>  </h3></div>
            </div>
            <div class="item">
            <div class="basket-item ">
             
                
            </div>    
        </div>        
        </div>
        <div class="basket-sum">
            
        </div>
        <div class="backet-buttons">
          
            <a href="{% url 'book' %}" class="delete_all" >Вернуться назад</a>
            <a href="{% url 'order' %}" class="delete-all" >Заказать</a>
          
        </div>
    </div>
</div>
<script src="{% static '/js/cart.js' %}"></script>
{% endblock %}
