{% extends 'base/base.html' %}

{% load static %}
 {% block content %}
    <h2>Оформление заказа</h2>
    <div class="register_container">
        <div class="register_inputs_list" style="line-break: auto;">
            <form action="make-order" method="post">
                <select id="cardTypes">
                    <option selected disabled>Выберите тип карты</option>
                </select></br>

                <select id="cities">
                    <option selected disabled>Выберите город</option>
                </select></br>

                <select id="streets">
                    <option selected disabled>Выберите улицу</option>
                </select></br>

                <input type="buton" id="orderBtn" class="btn_cart" value="Оформить заказ">
            </form>
        </div>
    </div>

    <script src="/static/js/order.js"></script>
{% endblock %}
