{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/payment.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
	<div class="payment-content">
		<h2>Заказ {{orderBook.id}}</h2>
		<div class="payment-books">
			<div class="order-books">
				{% for book in orderBook %}
					{% if orderId == book.order_id %}
						<div class="book-info">
							<div class="book-img-content">
								<div class="book-img"><img src="{{ book.book.bookimg }}"> </div>
							</div>
							<div class="info-content">
								<div class="bookname">
									<br><h4>{{book.book.bookname}}</h4>
								</div>
								
								<div class="info">
									<h5>Цена:{{book.book.cost}} x {{book.bookCount}}</h5>
								</div>
								<input type="hidden" value="{{book.order_id}}" id="orderId">
							</div>	
						</div>
					{% endif %}
				{% endfor %}
				<hr/>
			</div>
			<div class="order-info">
				
			</div>

		</div>
		<div class="payment-address" id="order">
		</div>
				
		<div class="payment-info"> 
			<h2> Оплата заказа</h2>
			<select id="type" class="order-option"  id="cities" >
				<option selected disabled>Тип карты</option>
				{% for cardtype in cardType  %}
				 	<option value="{{cardtype.id}}">{{cardtype.cardtypename}}</option>
				{% endfor %}
			</select> 
			<div>
				<h4>Номер карты</h4>
				<input id="numberCard" class="payment-input-number" placeholder="Номер карты">
			</div>
			<div class="data-cvv">
				<div>
					<h4>Срок действие</h4>
					<div class="data">
						<input id="month" class="payment-input" placeholder="MM">
						/
						<input id="year" class="payment-input"  placeholder="YY">
					</div>
				</div>
				<div>
					<h4>CCV</h4>
					<input id="ccv" class="payment-input" placeholder="000">
				</div>
			</div>
			<div class="pay-btn">
				<button id="openBtn" class="back_btn" type="submit">Оплатить</button>
			</div>
		</div>
		
	</div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Ваш заказ успешно оформлен</p>
		<button id="mainBtn" class="back_btn" type="submsit" >Вернуться на главную</button>
    </div>
</div>

<script src="{% static '/js/payment.js' %}"></script>
{% endblock %}